<div class="row">
  <div class="col-md-3">
<h1 class="index-header">Urls</h1>
</div>
<div class="col-md-7 col-md-offset-2"
  <div class="sort-title">
    <% if params[:sort] == "popularity" %>
    <%= image_tag "pop-octo2.png" %>
    <% elsif params[:sort] == "most-recent" %>
    <%= image_tag "recent-octo.png" %>
    <% else %>
    <%= image_tag "index-octo.png" %>
    <% end %>
</div>
</div>
</div>
<div class="well index-well">
  <div class="row index-search">
    <div class="col-md-4">
      <form>
        <input type="text" id="text_box"/><span class="filter-text"><%= image_tag "filter-arrow.png" %></span>
      </form>
    </div>
      <div class="col-md-2">
        <span class="search-icons"> <a href="/"><%= icon('home') %></a></span>
    </div>
      <div class="col-md-2">
        <span class="search-icons"> <a href="/urls?sort=popularity"><%= icon('line-chart') %></a></span>
      </div>
      <div class="col-md-2">
        <span class="search-icons"> <a href="/urls?sort=most-recent"><%= icon('clock-o') %></a></span>
      </div>
      <div class="col-md-2">
        <span class="search-icons"> <a href="/urls"><%= icon('list') %></a></span>
      </div>
  </div>
  </div>


  <%= render 'shared/urls_display' %>

  <script>
  $("#text_box").keyup(function() {
    $("li").hide();
    var term = $(this).val();
    $("li:contains('"+ term +"')").show();
  });
  </script>
