<div class="row welcome-header">
  <div class="col-md-6 col-md-offset-2">
    <h1>Stytta</h1>
    <h2><%= image_tag "link.png" %> Unleash the power of the link </h2>
  </div>
</div>
<div class="row create-shortened-url">
  <div class="col-md-2, col-md-offset-5">
    <%= form_for @url do |f| %>
    <%= f.text_field :original_url, required: true %>
    <%= f.submit class: "btn btn-info"%>
    <% end %>
  </div>
</div>

<div class="row inner-well">
  <div class="col-md-2 col-md-offset-1" id="url-title">
    <p>Urls</p>
  </div>

  <div class="col-md-7 urls-index-header">
    <ul class="list-inline">
      <li><%= link_to image_tag("popularity.png"), urls_path(sort: 'popularity') %></li>
      <li><%= link_to image_tag("most-recent.png"), urls_path(sort: 'most-recent') %></li>
      <li><a href="/urls"><%= image_tag "index.png" %></a></li>
      <ul>
      </div>
    </div>
  <div class="row url-list">
    <div class="col-md-8 col-md-offset-1" id="url-title">
        <ul>
          <% @urls.each do |f| %>
          <li><%= f.title %><span class="font-icon"> <%= icon('compress') %></span> <%= link_to f.display_shortened_url, url_path(f.id) %></li><br>
          <% end %>
        </ul>
      </div>
      <div class="col-md-2" id="url-title">
        <div class="search-field">
          <form>
            <input type="text" id="text_box" />
          </form>
        </div>
      </div>
    </div>



    <script>
    $("#text_box").keyup(function() {
      $("li").hide();
      var term = $(this).val();
      $("li:contains('"+ term +"')").show();
    });
    </script>
