<div class="row welcome-header">
  <div class="col-md-8 col-md-offset-2">
    <h1>Stytta <span class="link-text"><%= image_tag "link.png" %> Unleash the link</span></h1>
  </div>
</div>
<div class="row create-shortened-url">
  <div class="col-md-3 col-md-offset-3">
    <%= form_for @url do |f| %>
    <%= f.text_field :original_url, required: true %>
    <%= f.submit class: "btn btn-info"%>
    <% end %>
  </div>
<div class="col-md-6 octo">
  <%= image_tag "info-octo2.png" %>
</div>
</div>

<div class="row inner-well">
  <div class="col-md-2 col-md-offset-1" id="url-title">
    <p>Urls</p>
  </div>
  <div class="col-md-9">
    <%= render 'shared/nav' %>
  </div>
</div>

<div class="row search-bubble">
  <div class="col-md-11 col-md-offset-1" id="url-title">
      <form>
        <input type="text" id="text_box"/><span class="filter-text"><%= image_tag "filter-arrow.png" %></span>
      </form>
  </div>
</div>

<div class="row url-list">
  <div class="col-md-7 col-md-offset-1" id="url-title">
    <ul>
      <% @urls.each do |f| %>
      <li><%= f.title %><span class="font-icon"> <%= icon('compress') %></span> <%= link_to f.display_shortened_url, url_path(f.id) %></li><br>
      <% end %>
    </ul>
  </div>
</div>



<script>
$("#text_box").keyup(function() {
  $("li").hide();
  var term = $(this).val();
  $("li:contains('"+ term +"')").show();
});
</script>
